<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment_2">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- - -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".Personal.AboutUsActivity"></activity>
        <activity android:name=".Personal.SettingActivity" />
        <activity android:name=".rank.RankActivity" />
        <activity android:name=".friendsRequest.MyRequestActivity" />
        <activity android:name=".Login.ForgetPasswordActivity" />
        <activity android:name=".Personal.NewProfileActivity" />
        <activity android:name=".Personal.PersonalActivity" />
        <activity android:name=".friendlist.FriendsListActivity" />
        <activity android:name=".friendsRequest.Friends" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Maps.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".Login.Log_in_activity" />
        <activity android:name=".Login.Sign_up_activity" />
        <activity android:name=".basepedo.ui.bActivity" /> <!-- Main -->
        <activity android:name=".Login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- android:process="com.base.basepedo.step" -->
        <service
            android:name=".basepedo.service.StepService"
            android:priority="1000"
            android:process=":process1">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <receiver android:name=".basepedo.service.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- 守护进程相关 -->
        <receiver
            android:name=".basepedo.receiver.Receiver1"
            android:process=":process1" />

        <service
            android:name=".basepedo.service.DaemonService"
            android:process=":process2" />
        <service
            android:name=".Maps.LocationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".basepedo.receiver.Receiver2"
            android:process=":process2" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.assignment_2.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".Maps.Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>
    </application>

</manifest>